{% extends 'header.html' %}
{% block body_block %}

<div class="add_course" style="padding-top: 2rem; padding-left: 2rem; width: 80%; margin: auto;">
<form class="row g-3" action="{% url 'base:add_course' %}" method="POST">
{% csrf_token %}
  <div class="mb-3 row">
    <label for="inputPassword2" class="col-sm-2 col-form-label">Add Course</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Cousse Name" name="course">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3" name="add_course">Add Course</button>
  </div>
</form>
</div>



<hr style="width: 80%; margin: auto;">



<div class="add_department" style="padding-top: 2rem; padding-left: 2rem; width: 80%; margin: auto;">
<form class="row g-3" action="{% url 'base:add_department' %}" method="POST">
{% csrf_token %}
  <div class="mb-3 row">
    <label for="inputPassword2" class="col-sm-2 col-form-label">Add Department</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Cousse Name" name="department">
  </div>
  <select class="form-select" aria-label="Default select example" name="course">
  <option selected>Select Course</option>

  {% for course in records %}
  <option value="{{course.id}}">{{course.course}}</option>
  {% endfor %}

</select>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3" name="add_course">Add Department</button>
  </div>
</form>
</div>

<hr style="width: 80%; margin: auto;">

<div class="add_subject" style="padding-top: 2rem; padding-left: 2rem; width: 80%; margin: auto;">
<form class="row g-3" action="{% url 'base:add_subject' %}" method="POST">
{% csrf_token %}
  <div class="mb-3 row">
    <label for="inputPassword2" class="col-sm-2 col-form-label">Add Subject</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Cousse Name" name="subject">
  </div>
  <select class="form-select" aria-label="Default select example" name="course">
  <option selected>Select Course</option>

  {% for course in records %}
  <option value="{{course.id}}">{{course.course}}</option>
  {% endfor %}

</select>
<select class="form-select" aria-label="Default select example" name="department">
  <option selected>Select Department</option>
  {% for dep in department %}
  <option value="{{dep.id}}">{{dep.department}}</option>
  {% endfor %}
</select>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3" name="add_course">Add Department</button>
  </div>
</form>
</div>









</body>
</html>
{% endblock %}