{% extends 'header.html' %}
{% block body_block %}

<h5 style="color: white; padding: 2rem;">Assign Classes To Teachers: </h5>

<div class="add_department" style="padding-top: 2rem; width: 80%; margin: auto;">
<form class="row g-3" action="{% url 'base:assign_class' %}" method="POST">
{% csrf_token %}
  
  <select class="form-select" aria-label="Default select example" name="teacher">
  <option selected>Select Teachers</option>

  {% for teachers in teachers %}
  <option value="{{teachers.id}}">{{teachers.name}},<p></p>{{teachers.subject}}</option>
  {% endfor %}

</select>




 <select class="form-select" aria-label="Default select example" name="course">
  <option selected>Select Course</option>

  {% for course in course %}
  <option value="{{course.course}}">{{course.course}}</option>
  {% endfor %}


</select>

 <select class="form-select" aria-label="Default select example" name="department">
  <option selected>Select Department</option>

  {% for dep in department %}
  <option value="{{dep.department}}">{{dep.department}}</option>
  {% endfor %}

</select>







</select>

 <select class="form-select" aria-label="Default select example" name="subject">
  <option selected>Select Subject</option>

  {% for subject in subject %}
  <option value="{{subject.subject}}">{{subject.subject}}</option>
  {% endfor %}

</select>




  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3" name="add_course">Assign Subject</button>
  </div>
</form>
</div>











</body>
</html>
{% endblock %}