{% extends 'header.html' %}
{% block body_block %}

<div class="home_page">
    <div class="details_div">
        <div class="name">
            <h5>Shuvra Chakrabarty</h5>
            <p>Name</p>
        </div>
        <div class="roll">
            <h5>11</h5>
            <p>Roll No</p>
        </div>
        <div class="classes">
            <h5>CSBS</h5>
            <p>Department</p>
        </div>
        <div class="enroll">
            <h5>1811100002032</h5>
            <p>Enrollment No</p>
        </div>
        <div class="reg">
            <h5>180020328417</h5>
            <p>Registration No</p>
        </div>
        <div class="contact">
            <h5>9593414575</h5>
            <p>Contact Number</p>
        </div>            
    </div>


    <div class="assignment">
        <div class="total_assign">
            <h5>Total Assignment</h5>
            <p>6</p>
        </div>
        <div class="total_sub">
            <h5>Total Submission</h5>
            <p>4</p>
        </div>
        <div class="total_appro">
            <h5>Total Approved</h5>
            <p>2</p>
        </div>
        <div class="total_pend">
            <h5>Total Pending</h5>
            <p>1</p>
        </div>
    </div>
</div>



<div class="for_table">
    <div class="new_assignment">
        <div class="asign">
        <p>New Assignment</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Title</th>
                        <th>Dead Line</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Computer</td>
                        <td>Assignmrnt No 1</td>
                        <td>July 30, 2021</td>
                    </tr>
                     <tr>
                        <td>Computer</td>
                        <td>Assignmrnt No 1</td>
                        <td>July 30, 2021</td>
                    </tr>
                     <tr>
                        <td>Computer</td>
                        <td>Assignmrnt No 1</td>
                        <td>July 30, 2021</td>
                    </tr>
                     <tr>
                        <td>Computer</td>
                        <td>Assignmrnt No 1</td>
                        <td>July 30, 2021</td>
                    </tr>
                     <tr>
                        <td>Computer</td>
                        <td>Assignmrnt No 1</td>
                        <td>July 30, 2021</td>
                    </tr>
                     <tr>
                        <td>Computer</td>
                        <td>Assignmrnt No 1</td>
                        <td>July 30, 2021</td>
                    </tr>
                     <tr>
                        <td>Computer</td>
                        <td>Assignmrnt No 1</td>
                        <td>July 30, 2021</td>
                    </tr>
                     <tr>
                        <td>Computer</td>
                        <td>Assignmrnt No 1</td>
                        <td>July 30, 2021</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="feedes">
        <div class="new_feeds">
        <p>Feedes</p>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
                <tr>
                    <td>Computer</td>
                    <td>Assignmrnt No 1</td>
                    <td>July 30, 2021</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

</div>
</body>
</html>
{% endblock %}