{% extends 'header.html' %}

{% block body_block %}
<div class="create_form">
 <div class="form">
    <form action="{% url 'base:make_submission' %}" method="POST" class="form" enctype="multipart/form-data">
         {% csrf_token %}
            <div class="mb-3">
               <h5>Id : {{student_id}}</h5>
            </div>
            <div class="mb-3">
                <input type="hidden" class="form-control"  name="student_id" value="{{student_id}}" style="width: 200%;">
            </div>
            <div class="mb-3">
                <input type="hidden" class="form-control"  name="assignment_id" value="{{assignment_id}}" style="width: 200%;">
            </div>
            <div class="mb-3">
                <label for="files">Files</label>
                <input type="file" class="form-control" id="files" name="file"  style="width: 200%;">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" name="submit" value="Create">
            </div>
        </div>
    </form>
 </div>   

</div>

</body>
</html>
{% endblock %}