{% extends 'header.html' %}

{% block body_block %}


<div class="from_table">
    <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">Id No</th>
      <th scope="col">Subject</th>
      <th scope="col">Department</th>
      <th scope="col">Class Link</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
{% if records %}
    
{%  for stat in records %}
    <tr>
      <td>{{stat.class_id}}</td>
      <td>{{stat.subject}}</td>
      <td>{{stat.department}}</td>
        <td><a href="{{stat.class_link}}" style="text-decoration: none;">{{stat.class_link}}</a></td>
      <td>{{stat.date}}</td>
      <td>{{stat.time}}</td>
    </tr>
{% endfor %}
{%endif %}
  </tbody>
</table>
</div>

</div>




</body>
</html>
{% endblock %}