{% extends 'header.html' %}

{% block body_block %}


<div class="from_table">
    <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">Id No</th>
      <th scope="col">Title</th>
      <th scope="col">Subject</th>
        <th scope="col">Description</th>
        <th scope="col">Create Date</th>
      <th scope="col">File</th>
    </tr>
  </thead>
  <tbody>
{% if data %}
    
{%  for stat in data %}
    <tr>
      <td>{{stat.id}}</td>
      <td>{{stat.title}}</td>
      <td>{{stat.subject}}</td>
       <td>{{stat.despription}}</td>
      <td>{{stat.uploaded_date}}</td>
        <td><a href="{{stat.file}}" style="text-decoration: none; background: rgb(11, 129, 100); padding: 6px; color: white; font-size: 12px;">Files</a></td>
    </tr>
{% endfor %}
{%endif %}
  </tbody>
</table>
</div>

</div>




</body>
</html>
{% endblock %}