{% extends 'header.html' %}
{% block body_block %}


<div class="add_subject" style="padding-top: 2rem; padding-left: 2rem; width: 80%; margin: auto;">
<form class="row g-3" action="{% url 'base:update_subject' %}" method="POST">
{% csrf_token %}
{% for sub in subject %}
  <div class="mb-3 row">
    <label for="inputPassword2" class="col-sm-2 col-form-label">Add Subject</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Cousse Name" value="{{sub.subject}}" name="subject">
    <input type="hidden" value="{{sub.id}}" name="sub_id">
  </div>
  <select class="form-select" aria-label="Default select example" name="course">
  <option value="{{sub.course_id}}">{{sub.course_name}}</option>

  {% for course in course %}
  <option value="{{course.id}}">{{course.course}}</option>
  {% endfor %}

</select>
<select class="form-select" aria-label="Default select example" name="department">
  <option value="{{sub.department_id}}">{{sub.department_name}}</option>
  {% for dep in department %}
  <option value="{{dep.id}}">{{dep.department}}</option>
  {% endfor %}
</select>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3" name="add_course">Add Department</button>
  </div>
  {% endfor %}
</form>
</div>









</body>
</html>
{% endblock %}