{% extends 'header.html' %}
{% block body_block %}

<div class="add_course" style="padding-top: 2rem; padding-left: 2rem; width: 80%; margin: auto;">
<form class="row g-3" action="{% url 'base:updates_course' %}" method="POST">
{% csrf_token %}
  <div class="mb-3 row">
      {% for course in course %}
    <label for="inputPassword2" class="col-sm-2 col-form-label">Add Course</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Cousse Name" value="{{course.course}}" name="course">
  </div>
  <input type="hidden" name="course_id" value="{{course.id}}">
  <div class="mb-3">
    <button type="submit" class="btn btn-success mb-3" name="add_course">Update Course</button>
  </div>
  {% endfor %}
</form>
</div>



<hr style="width: 80%; margin: auto;">

</body>
</html>
{% endblock %}