{% extends 'header.html' %}
{% block body_block %}

<div class="view_details" style="width: 85%; margin: auto;">
<h5 style="padding-top: 2rem;">Course:</h5>
 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample">
    View Course
  </button>
<div class="from_table collapse" id="collapseExample" >
    <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">Id No</th>
      <th scope="col">Course</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
      
    </tr>
  </thead>
  <tbody>
{% if records %}
    
{%  for stat in records %}
    <tr>
      <td>{{stat.id}}</td>
      <td>{{stat.course}}</td>
        <td><a href="" style="text-decoration: none; background: rgb(11, 129, 100); padding: 6px; color: white; font-size: 12px;">Update</a></td>
        <td><a href="" style="text-decoration: none; background: rgb(204, 23, 10); padding: 6px; color: white; font-size: 12px;">Delete</a></td>
    </tr>
{% endfor %}
{%endif %}
  </tbody>
</table>
</div>



<H5 style="padding-top: 2rem;">Department:</H5>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExamples">
    View Department
  </button>
<div class="from_table collapse" id='collapseExamples'>
    <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">Id No</th>
      <th scope="col">Course Id</th>
      <th scope="col">Course</th>
        <th scope="col">Department</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
      
    </tr>
  </thead>
  <tbody>
{% if department %}
    
{%  for stat in department %}
    <tr>
      <td>{{stat.id}}</td>
      <td>{{stat.course_id}}</td>
      <td>{{stat.course_name}}</td>
      <td>{{stat.department}}</td>
        <td><a href="" style="text-decoration: none; background: rgb(11, 129, 100); padding: 6px; color: white; font-size: 12px;">Update</a></td>
        <td><a href="" style="text-decoration: none; background: rgb(204, 23, 10); padding: 6px; color: white; font-size: 12px;">Delete</a></td>
    </tr>
{% endfor %}
{%endif %}
  </tbody>
</table>
</div>


<h5 style="padding-top: 2rem;">Subject:</h5>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Examples">
    View Subjects
  </button>
<div class="from_table collapse" id="Examples">
    <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">Id No</th>
      <th scope="col">Course Id</th>
      <th scope="col">Course</th>
        <th scope="col">Department Id</th>
         <th scope="col">Department</th>
         <th scope="col">Subject</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
      
    </tr>
  </thead>
  <tbody>
{% if subject %}
    
{%  for stat in subject %}
    <tr>
      <td>{{stat.id}}</td>
      <td>{{stat.course_id}}</td>
      <td>{{stat.course_name}}</td>
      <td>{{stat.department_id}}</td>
      <td>{{stat.department_name}}</td>
      <td>{{stat.subject}}</td>
        <td><a href="" style="text-decoration: none; background: rgb(11, 129, 100); padding: 6px; color: white; font-size: 12px;">Update</a></td>
        <td><a href="" style="text-decoration: none; background: rgb(204, 23, 10); padding: 6px; color: white; font-size: 12px;">Delete</a></td>
    </tr>
{% endfor %}
{%endif %}
  </tbody>
</table>
</div>
</div>





</body>
</html>
{% endblock %}