{% extends 'header.html' %}
{% block body_block %}



<h5 style="padding-top: 2rem;">Teacher Details:</h5>
<div class="from_table">
    <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">Id No</th>
      <th scope="col">Student Name</th>
      <th scope="col">Registration No.</th>
        <th scope="col">Enrollment No.</th>
        <th scope="col">Course</th>
        <th scope="col">Department</th>
        <th scope="col">Year</th>
        <th scope="col">Semester</th>
         <th scope="col">Address</th>
         <th scope="col">Email</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
      
    </tr>
  </thead>
  <tbody>
{% if student %}
    
{%  for s in student %}
    <tr>
      <td>{{s.id}}</td>
      <td>{{s.name}}</td>
      <td>{{s.reg_no}}</td>
       <td>{{s.roll_no}}</td>
       <td>{{s.course}}</td>
      <td>{{s.department}}</td>
       <td>{{s.year}}</td>
      <td>{{s.semester}}</td>
      <td>{{s.address}}</td>
      <td>{{s.email}}</td>
        <td><a href="{% url 'base:update_student' student_id=s.id %}" style="text-decoration: none; background: rgb(11, 129, 100); padding: 6px; color: white; font-size: 12px;">Update</a></td>
        <td><a href="{% url 'base:delete_student' student_id=s.id %}" style="text-decoration: none; background: rgb(204, 23, 10); padding: 6px; color: white; font-size: 12px;">Delete</a></td>
    </tr>
{% endfor %}
{%endif %}
  </tbody>
</table>
</div>
</div>







</body>
</html>
{% endblock %}