{% extends 'header.html' %}
{% block body_block %}



<h5 style="padding-top: 2rem;">Teacher Details:</h5>
<div class="from_table">
    <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">Id No</th>
      <th scope="col">Teacher Name</th>
      <th scope="col">Registration No</th>
        <th scope="col">Qualification</th>
         <th scope="col">Address</th>
         <th scope="col">Email</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
      
    </tr>
  </thead>
  <tbody>
{% if teachers %}
    
{%  for t in teachers %}
    <tr>
      <td>{{t.id}}</td>
      <td>{{t.name}}</td>
      <td>{{t.reg_no}}</td>
      <td>{{t.subject}}</td>
      <td>{{t.address}}</td>
      <td>{{t.email}}</td>
        <td><a href="{% url 'base:update_teacher' teacher_id=t.id %}" style="text-decoration: none; background: rgb(11, 129, 100); padding: 6px; color: white; font-size: 12px;">Update</a></td>
        <td><a href="{% url 'base:delete_teacher' teacher_id=t.id %}" style="text-decoration: none; background: rgb(204, 23, 10); padding: 6px; color: white; font-size: 12px;">Delete</a></td>
    </tr>
{% endfor %}
{%endif %}
  </tbody>
</table>
</div>
</div>







</body>
</html>
{% endblock %}